__pycache__/
.cache/

/tmp/
/eval/
/cache/
/datasets/
/training-runs/
/encoder-training-runs/
/evaluation-runs/
/stylegan2/
/out/
/pretrained/
/results/
/extensions/
/cache/
stylegan2.tar.gz
/DiffJPEG/

/figures/out/
/old/
/slurm-*.out
